<!DOCTYPE html>
<html>
<head>
    <title>Kolokwium</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div class="cell">
            1
        </div>

        <ul class="kwadrat" v-for="liczbaRows in rows">
            <li v-for="liczba in columns">
                <div class="cell">1</div>  
            </li>
        </ul>

        {{ message }}
    </div>

    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Powodzenia',
            rows: 10,
            columns: 10
        }
    })
    </script>
</body>
</html>