<!DOCTYPE html>
<html>
<head>
    <title>Kolokwium</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div class="cell">
            1
        </div>

        <ul class="kwadrat" v-for="(liczbaRows, indexR) in rows">
            <li v-for="(liczbaColumns, indexC) in columns" @click="przechwyc( (indexR + 1), (indexC + 1))">
                <div :class="[ 'cell', {'cell active' : (active.substring(0, 1) == (indexR + 1) && active.substring(-1, 1) == (indexC + 1))} ]">1</div>  
            </li>
        </ul>

        {{ message }}
    </div>

    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Powodzenia',
            rows: 10,
            columns: 10,
            active: "1,1"
        },
        methods: {
            przechwyc: function(row, column){
                this.active = row.toString() + "," + column.toString();
            }
        }
    })
    </script>
</body>
</html>